/* -------------------- Color Pallet -------------------- */
:root {
--purple: #8b03fa;
--darkPurple:#560663; 
--blue: #4067E2;
--gold: #FAC203;
--darkgold: #D89002; 
--green: #286B23;
--darkGreen: #136306;
/*https://www.schemecolor.com/royal-blue-green-gold.php*/

--navTextColor: white;
--navTextHoverColor: var(--gold);
}

/* -------------------- Globals -------------------- */
body {
height:100%;
margin: 0px;
font-family: 'Verdana';
color: white;
background-color: black;
background-image: url('./img/textures/inflicted.png');
}

::selection {
  color: white;
  background: black;
}

h1 {
    font-family: 'Eagle Lake', cursive;    
    font-size: 2em;
    line-height: 1.5em;
    margin: 0px;
    padding: 10px 0px 5px 0px;
}

h2 {
    font-family: 'Eagle Lake', cursive;  
    font-size: 1em;
    line-height: 1em;
    margin: 0px;
    color: var(--gold);
    padding: 5px 0px 10px 0px;
}

/* h3 {
    font-family: 'Eagle Lake', cursive;  
    font-size: 3em;
    margin: 0px;
    color: var(--gold);
} */

h4 {
    font-family: 'Verdana';  
    font-size: 1em;
    margin: 0px;
    color: black;
}

/* h5 {
    font-family: 'Eagle Lake', cursive;  
    font-size: 3em;
    margin: 0px;
    color: var(--gold);
} */

h6 {
    font-family: 'Verdana';  
    font-size: 0.75em;
    margin: 0px;
    color: black;
}

p {
    font-family: 'Verdana';  
    font-size: 0.75em;
    margin: 0px;
    color: black;
}

a {
  color: var(--blue);
  text-decoration: none;
}

/* -------------------- Logo -------------------- */
.centre {
text-align: center;
} 

/* -------------------- Nav Bar-------------------- */
.navbar {
width: 100%;
height: auto;
background-color: rgba(0, 0, 0, 0.75);
overflow: auto;
margin: 0px;
position: static;
top: 0;
opacity: 0.8;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.navbar li {
  float: right;

}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li :hover{
  color: var(--navTextHoverColor);
  cursor: pointer;
}

.navbar .active {
  color: var(--navTextHoverColor);
}

/* -------------------- Navbar Dropdown -------------------- */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1.5em;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  font-size: 0.5em;
  display: none;
  position: absolute;
  background-color: black;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  color: var(--gold);
}

.dropdown-content a:hover {
  background-color: white;
  color:  var(--gold);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* -------------------- Main Items -------------------- */
header {
width: 100%;
height: 100%;
margin: 0px;
background-color: var(--darkGreen);

}

footer {
width: 100%;
height: 200px;
background-color: var(--darkGreen);
display: inline-block;
text-align: center;
padding:  50px 0px 0px 0px;
}

.footerIcon{
  color: black;
}

.footerIcon:hover{
  color: var(--navTextHoverColor);
}

.mainContainer{
width: 100%;
background-color:  rgba(0, 0, 0, 0.1);
display: grid;
grid-template-columns: 25% 25% 25% 25%;
column-gap: 3px;
justify-content: space-evenly;
}

/* -------------------- Tile Cards -------------------- */
.card {
  background-color: rgba(255, 255, 255, 0.9);
  border:  var(--darkGreen) solid 2px;
  border-radius: 10px;
  width: 70%;
  height: 400px;
  justify-self: center;
  position: relative;
  padding: 4%;
  margin: 10px 10px 10px 10px;
  transition: all .2s ease-in-out;
}

.image {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

.card:hover {
border:  var(--blue) solid 2px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
cursor: pointer;
transform: scale(1.01, 1.01);
}

@media screen and (max-width: 800px) {
.card {
width: 80%;
}

}

/* Small devices*/
@media only screen and (min-width: 320px) {
    .mainContainer{
    grid-template-columns: 100%;
  }
}

/* Small - Medium devices*/
@media only screen and (min-width: 500px) {
  .mainContainer{
    grid-template-columns: 50% 50% ;
  }
} 

/* Medium devices*/
@media only screen and (min-width: 768px) {
  .mainContainer{
    grid-template-columns: 33% 33% 33%;
  }
} 

/* Large devices*/
@media only screen and (min-width: 1200px) {
  .mainContainer{
    grid-template-columns: 25% 25% 25% 25%;
  }
}
/* Wide Screen devices*/
@media only screen and (min-width: 1900px) {
  .mainContainer{
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}